body {
    background-color: burlywood;
    color: whitesmoke;
}

                                                            /* NAVBAR */

.navbar{
    background-color: rgb(148, 79, 79);
    height: 2%;
}

.clone{
    font-size: larger;
    font-weight: bolder;
     animation: rubberband 2000ms alternate ease-out infinite;
     transition: all 0.4s ease;
}

@keyframes rubberband {
    0%{
        transform: scaleX(1);
    }
    40%{
        transform: scaleX(1.12) scaleY(0.75);
    }
    55%{
        transform: scaleX(0.85) scaleY(1);
    }
    65%{
        transform: scaleX(1.09) scaleY(0.85);
    }
    75%{
        transform: scaleX(0.9)  scaleY(1);
    }
    90%{
        transform: scaleX(1.05) scaleY(0.95);
    }
    100%{
        transform: scaleX(1) scaleY(1);
    }
}

  /* .mt-3{
    color: black;
  } */

.d-inline-block{
    border-radius: 10%;
}

.fa-star {
    color: brown;
}
  
.site-name {
    color: goldenrod;
    position: absolute;
    top: 0px;
}
  
                                                             /* MOVIE CARD */

.card {
    border: 0;
    background: radial-gradient(
      circle at 10% 20%,
      rgb(68, 1, 1) 0%,
      rgb(205, 204, 204) 90.2%
    );
    box-shadow: 0px 16px 24px 2px hsla(0, 10%, 96%, 0.14),
      0px 6px 30px 5px hsla(0, 67%, 31%, 0.12),
      0px 8px 10px -5px hsla(0, 98%, 50%, 0.2);
}
  
.card-text {
    text-align: justify;
    font-size: 1.1rem;
    font-weight: 400;
    color: wheat;
}
  
.info-type {
    font-size: 1.1rem;
    font-weight: 500;
    color: goldenrod;
}
  
.information {
    font-weight: 500;
    font-size: 0.9em;
    color: black;
    text-decoration: underline;
}
  
  
                                                        /* RESPONSIVENESS */
@media screen and (max-width: 767px) {
    #poster {
      margin-top: 1rem;
      border-radius: 5px !important;
    }
}
  
@media screen and (max-width: 576px) {
    #title {
      font-size: x-large;
    }
  
    h6 {
      font-size: medium;
    }
  
    h5 {
      font-size: medium;
    }
  
    #poster {
      margin-top: 0px;
      width: 100%;
    }
}